<style>
   #dlgIHelp td { padding: 6px; }
   #dlgIHelp th { padding: 6px; }
</style>
<div id="dlgIHelp" class="dlgFrame">
   <div class="dlgTitlebar">Help</div>
   <div class="dlgPanel">

      <table class='mtable'>
         <tr>
            <th>Action</th>
            <th>Howto</th>
         </tr>
         <tr>
            <td>View older images</td>
            <td>&nbsp;Drag inside image left and right&nbsp;</td>
         </tr>
         <tr>
            <td>Step single images</td>
            <td>&nbsp;Click on <img src='icons/chevron-left.svg' style='vertical-align:middle' alt='Step one image back'>
               or <img src='icons/chevron-right.svg' style='vertical-align:middle' alt='Step one image forward'>&nbsp;</td>
         </tr>
         <tr>
            <td>Play movie</td>
            <td>&nbsp;Click on <img src='icons/chevrons-left.svg' style='vertical-align:middle' alt='Play backwards'>
               or <img src='icons/chevrons-right.svg' style='vertical-align:middle' alt='Play forward'>
               and <img src='icons/pause.svg' style='vertical-align:middle' alt='Stop playing'>.<br />Click multiple times to
               increase speed.</td>
         </tr>
         <tr>
            <td>Zoom time axis</td>
            <td>&nbsp;Click on <img src='icons/zoom-in.svg' style='vertical-align:middle' alt='Zoom in time axis'>
               or <img src='icons/zoom-out.svg' style='vertical-align:middle' alt='Zoom out time axis'>&nbsp;</td>
         </tr>
         <tr>
            <td>&nbsp;Move window to present time<br />and update it regularly&nbsp;</td>
            <td>Click on <img src='icons/play.svg' style='vertical-align:middle' alt='Live scrolling'> or press 'u'.<br />
               Icon is red to indicate that an<br />old picture is currently displayed.
            </td>
         </tr>
         <tr>
            <td>Jump to a specific time/date</td>
            <td>&nbsp;Click on <img src='icons/clock.svg' style='vertical-align:middle' alt='Select time...'></td>
         </tr>
         <tr>
            <td>Download current image</td>
            <td>&nbsp;Click on <img src='icons/download.svg' style='vertical-align:middle' alt='Download current image'></td>
         </tr>
      </table>


      <button class="dlgButton" type="button" onClick="dlgHide('dlgIHelp')">Close</button>

   </div>
</div>

<!--==================================================================================-->

<div id="dlgQueryT" class="dlgFrame">
   <div class="dlgTitlebar">Select date/time</div>
   <div class="dlgPanel">

      <table>
         <tr>
            <td>
               <label for='m1'>Month:</label>
               <select id='m1'>
                  <option value='January'>January</option>
                  <option value='February'>February</option>
                  <option value='March'>March</option>
                  <option value='April'>April</option>
                  <option value='May'>May</option>
                  <option value='June'>June</option>
                  <option value='July'>July</option>
                  <option value='August'>August</option>
                  <option value='September'>September</option>
                  <option value='October'>October</option>
                  <option value='November'>November</option>
                  <option value='December'>December</option>
               </select>
            </td>
            <td>
               <label for='d1'>Day:</label>
               <select id='d1'>
                  <option value='1'>1</option>
                  <option value='2'>2</option>
                  <option value='3'>3</option>
                  <option value='4'>4</option>
                  <option value='5'>5</option>
                  <option value='6'>6</option>
                  <option value='7'>7</option>
                  <option value='8'>8</option>
                  <option value='9'>9</option>
                  <option value='10'>10</option>
                  <option value='11'>11</option>
                  <option value='12'>12</option>
                  <option value='13'>13</option>
                  <option value='14'>14</option>
                  <option value='15'>15</option>
                  <option value='16'>16</option>
                  <option value='17'>17</option>
                  <option value='18'>18</option>
                  <option value='19'>19</option>
                  <option value='20'>20</option>
                  <option value='21'>21</option>
                  <option value='22'>22</option>
                  <option value='23'>23</option>
                  <option value='24'>24</option>
                  <option value='25'>25</option>
                  <option value='26'>26</option>
                  <option value='27'>27</option>
                  <option value='28'>28</option>
                  <option value='29'>29</option>
                  <option value='30'>30</option>
                  <option value='31'>31</option>
               </select>
            </td>
            <td>
               <label for='h1'>Hour:</label>
               <select id='h1'>
                  <option value='0'>0</option>
                  <option value='1'>1</option>
                  <option value='2'>2</option>
                  <option value='3'>3</option>
                  <option value='4'>4</option>
                  <option value='5'>5</option>
                  <option value='6'>6</option>
                  <option value='7'>7</option>
                  <option value='8'>8</option>
                  <option value='9'>9</option>
                  <option value='10'>10</option>
                  <option value='11'>11</option>
                  <option value='12'>12</option>
                  <option value='13'>13</option>
                  <option value='14'>14</option>
                  <option value='15'>15</option>
                  <option value='16'>16</option>
                  <option value='17'>17</option>
                  <option value='18'>18</option>
                  <option value='19'>19</option>
                  <option value='20'>20</option>
                  <option value='21'>21</option>
                  <option value='22'>22</option>
                  <option value='23'>23</option>
               </select>
            </td>
            <td>
               <label for='y1'>Year:</label>
               <select id='y1'>
               </select>
            </td>
         </tr>
      </table>

      <button class="dlgButton" type="button" onClick="dlgHide('dlgQueryT')">Cancel</button>
      <button class="dlgButton" type="button" id="dlgQueryQuery">Query</button>

   </div>
</div>

